<div>
  <h3 class="text-center m-3">SADHA sincerely values and thanks our esteemed sponsors for their support</h3>
  <div class="row">
    <div class="col">
      <div class="card-deck">
        <div class="card col-lg-4 col-md-6" *ngFor="let sponsor of sponsors;">
          <a href="{{sponsor.url}}" target="_blank">
            <div class="card-header bg-white">
              <div class="row justify-content-center">
                <img class="align-center" src="{{sponsor.image}}" height="150px" alt="{{sponsor.title}}">
              </div>
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">{{sponsor.title}} <i class="ml-1 fas fa-external-link-alt"></i></h5>
              <p class="card-text" *ngIf="sponsor.subTitle"><small class="text-muted">{{sponsor.subTitle}}</small></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
