<div class="app-content">
  <h1 class="text-center d-none d-lg-block p-3">San Antonio Dental Hygienists' Association</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
      <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
        <a class="navbar-brand d-lg-none d-inline-block" [ngClass]="activeRoute === 'home'? 'active': ''" href="home">SADHA</a>
        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
          <a class="d-none d-lg-block navbar-brand" [ngClass]="activeRoute === 'home'? 'active': ''" href="home">Home</a>
          <ul class="navbar-nav mr-auto align-self-center">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="activeRoute === 'officers'? 'active': ''" href="officers">Officers</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="meetingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meetings
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="meetingsDropdown">
                <a class="dropdown-item" [ngClass]="activeRoute === 'meetings'? 'active': ''" href="meetings">Events</a>
                <a class="dropdown-item" [ngClass]="activeRoute === 'continuingEducation'? 'active': ''" href="continuingEducation">Continuing Education (CE's)</a>
                <a class="dropdown-item" [ngClass]="activeRoute === 'projects'? 'active': ''" href="projects">Projects</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="activeRoute === 'membership'? 'active': ''" href="membership">Membership</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="activeRoute === 'legislation'? 'active': ''" href="legislation">Legislation</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" [ngClass]="activeRoute === 'contact'? 'active': ''" href="contact">Contact</a>
            </li> -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="linksDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Links
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="linksDropdown">
                <span class="dropdown-header"><i class="mr-1 fas fa-external-link-alt"></i>External Links</span>
                <a class="dropdown-item" href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/dental-settings.html" target="_blank">
                  Coronavirus Disease - Guidance for Dental Settings
                </a>
                <a class="dropdown-item" href="http://www.adha.org/" target="_blank">
                  American Dental Hygienists' Association
                </a>
                <a class="dropdown-item" href="http://www.tsbde.texas.gov" target="_blank">
                  State Board of Dental Examiners
                </a>
                <a class="dropdown-item" href="http://texasdha.org/" target="_blank">
                  Texas Dental Hygienists' Association
                </a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-header"><i class="mr-1 fas fa-file-download"></i>Downloads</span>
                <!-- <a class="dropdown-item" href="/assets/Probe 2019-2020.pdf">The Probe Newsletter (2019 - 2020)</a> -->
                <a class="dropdown-item" href="/assets/SADHA Bylaws Revised 2018.pdf">SADHA Bylaws</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <section class="container main-content pt-2 pb-5 shadow">
    <router-outlet></router-outlet>
  </section>
</div>
