<h1>Home</h1>
<div class="row">
  <div class="col">
    <p>Welcome to the homepage for the San Antonio Dental Hygienists' Association (SADHA). Our organization serves the
      greater San Antonio area providing guidance related to our profession.</p>
  </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-4 text-center">
      <img src="./assets/ADHASAlogo.png" width="100%" alt="SADHA Logo">
    </div>
    <!-- <div class="rainbow-box">

      <img src="./assets/Kindness is Golden.png" width="100%" alt="">
    </div> -->
</div>
<div class="row">
  <div class="col">
    <h2>SADHA Mission Statement</h2>
    <div class="alert alert-info">To improve the public's total health, the mission of the American Dental Hygienists'
      Association is to advance the art and science of dental hygiene by ensuring access to quality oral health care,
      increasing awareness of the cost-effective benefits of prevention, promoting the highest standards of dental
      hygiene education, licensure, practice and research, and representing and promoting the interests of dental
      hygienists.</div>
  </div>
</div>
<section *ngIf="showRaffleContest">
  <div class="row flex-column">
    <div class="col">
      <h2>Local Infiltration Anesthesia Certification Raffle</h2>
    </div>
    <div class="col">
      <p>The San Antonio Dental Hygienists' Association is thrilled to announce our Raffle Contest! Enter for a chance to win a registration voucher for local infiltration anesthesia certification at UT Health San Antonio! Tickets cost $25 per entry, with multiple entries allowed. Raffle closes at 12AM on March 1st, 2025. ONE winner will be selected at random on March 2, 2025. Voucher expires 1 year from receipt. Winner is solely responsible for enrolling in, and successfully completing the course; must meet registration criteria. No cash value.</p>
    </div>
    <div class="col">
      <a href="https://lp.constantcontactpages.com/ev/reg/uqmvwh3/lp/c529c718-1517-4e4b-9c00-740f6c6069b8" target="_blank" >
        <div class="row flex-column justify-content-center align-items-center">
          <div class="col-auto">
            <img class="raffle-img" src="./assets/RaffleContest_2025.png" alt="Local Infiltration Anesthesia Certification">
          </div>
          <div class="col-auto">

            Click here to enter!<i _ngcontent-pxm-c22="" class="ml-1 fas fa-external-link-alt"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<section>
  <h3>Upcoming Events</h3>
  <app-event-calendar [endDate]="endDate" [allowFiltering]="false"></app-event-calendar>
  <p>To view more events, visit our <a [routerLink]="'/meetings'">event page</a>.</p>
</section>
<section>
  <app-officers></app-officers>
  <!-- <app-membership></app-membership> -->
  <!-- <h3>Membership benefits</h3>
  
  <div class="row">
    <div class="col">
      <p>Becoming a member opens the door for you to participate in all our meetings and gain Continuing Education (CE) credits hosted by SADHA throughout the year. As a valued ADHA member, our regularly scheduled monthly CEs come at no additional cost to you. For those who aren't members but wish to join us, guest attendance is available for a modest fee of $35 per event. We'd be thrilled to have you onboard for an enriching experience of learning and networking.</p>
      <p>Please see the <a routerLink="/meetings">Calendar</a> for information about upcoming meetings.</p>
      <p>We hope you'll join us at one of our events! Visit our <a routerLink="/membership">membership</a> page to find
        out how to become a member!</p>
    </div>
  </div> -->

</section>

<app-membership></app-membership>
<hr />
<app-sponsor></app-sponsor>
<hr />
<section *ngIf="showRDHStudyClubLink">
  <div class="row justify-content-center">
    <div class="col-auto border">
      <a href="https://courses.rdhacademy.com/" target="_blank">
        <img src="./assets/RDHStudyClub.png" alt="DH Study Club">
        <hr />
        <div class="card-body text-center">
          <h5>RDH Study Club <i class="ml-1 fas fa-external-link-alt"></i></h5>
        </div>
      </a>
    </div>
  </div>

</section>
<hr />
<p class="text-muted"><strong>Questions?</strong> Send an email to <a
    href="mailto:{{secretary.email}}">{{secretary.email}}</a>.</p>
<!-- <p class="text-muted"><strong>Have an employment request?</strong> Fill out <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSdyemefwwVuxlOJ1n2STi-nd8JYGPP6oGISgYy0oNBaTQoyPw/viewform?vc=0&c=0&w=1&flr=0"
    target="_blank">this form<i _ngcontent-pxm-c22="" class="ml-1 fas fa-external-link-alt"></i></a>.</p> -->