.rainbow-box {
    background-color: #302244;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 20px auto;
}

@media (min-width: 992px) {
    .raffle-img {
        max-height: 75vh;
        width: auto;
    }
}

.raffle-img {
    max-height: 75vh;
    width: auto;
}